html, 
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: 80vh;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}
.space-x-8 > * + * {
  margin-left: 2rem;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
}